html{
    font-size: 100%;
}

head {
    width:auto;
}

body {
    margin: 0%;
    background-color:#1a1c1e;
    width:auto;
}

.navbar {
    position: relative;
    text-align: end;
    background-color:grey;
    padding: 1%;
    line-height: 10px;
}

#navlist {
    letter-spacing: 20px;
    list-style: none;
    padding:0;
    margin-top: 0px;
    margin-bottom: 0px;
}

#navlist li{
    letter-spacing: 2px;
    display: inline;
    cursor: pointer; 

}

.anirevs {
    position: absolute;
    top: 0px;
    letter-spacing: 2px;
    font-size: 25px;
   
}

h3 {
    margin:11%;
}

/*----------------To remove hyperlinks from text--------------------*/

#navlist li a {
    text-decoration: none;
    color: black;

}
/*-------------------------------------------------------------------*/

h1 {
    top:58%;
    left: 3%;
    color: aliceblue;
    font-size: 50px;    
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    margin:0;
    margin-right:25%;
    
}

.belowtitle {
    line-height: 18px;
    z-index: 4;
    color: aliceblue;
    top:40%;
    left:3%;
    letter-spacing: 1px;

}
.topbox {
    position: relative;
}

.belowtitle{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subbox {
    position: relative;
}

.text{
    position: absolute;
    left:2%;
    top:53%;
   
}

h2 {
    margin-top: 6%;
    padding-left: 15px;
    margin-bottom: 6%;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 2px;
    background-color: aliceblue;
    margin:0;
    padding-top: 90px;
    padding-bottom: 90px;
    

}

.picturebox {
    position: relative;
    margin-top: 9.5em;
    margin-left: 3.45em;
    display: flex;
    justify-content: center;
    height: auto;
    line-height: 2.0em;  
    
}


.coma {
    position: absolute;
    left:35%;
}

.coma2 {
    position: absolute;
    left: 1%;
}

.laptopgif {
    top: 15px;
    border-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
}

.laptoptext {
    color:aliceblue;
    font-size: inherit;
    padding-left: 18px;
    text-align: center;
    padding: 4%;
    display: inherit;
    margin-bottom: 0%;
    padding-bottom: 0%;
    

    
}

.picturebox2 {
    margin-top: 9.5em;
    line-height: 1.15em;
    display: flex;
    justify-content: center;
    line-height: 2.0em;
    margin-bottom: 9em;
    margin-right: 3.45em;

    
}

.talkgif { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.talktext {
    color: aliceblue;
    display: inherit;
    font-size:inherit;
    text-align: center;
    padding: 4%;
}

.contactbox {
    padding:3%;
    background-color: black;
}

.contactlist {
    list-style: none;
    font-size: 1.55rem;
    color: white;
    padding-left: 30%;
    letter-spacing: 1px;
    font-family: helvitica;
}

.connect {
    border-bottom: 1px solid;
    margin-right: 81%;
    margin-bottom: 1%;
}

.fblogo{

}

.share {
    border-bottom: 1px solid;
    margin-right: 81%;
    margin-bottom: 1%; 
   
}

.sidebox {
    z-index: 10;
    background-color: white;
    border-left: 1px white;
}